.DS_Store
/.metadata/
Spring/workspace/Sp2/.classpath
Spring/workspace/Sp2/.project
Spring/workspace/Sp2/.springBeans
Spring/workspace/Sp2/.settings
Android/android-studio
Android/AndroidStudioProjects/.gradle
Android/AndroidStudioProjects/.idea
Spring/Day03M/Sp02
Spring/Day04Board/Sp02
Spring/Day05File/Sp02
Spring/Day06Ajax/Sp02
Spring/Day09Bootstrap/Food
Spring/Day10AOP/Sp04

Spring/workspace/.metadata/
Spring/workspace/.metadata/.log
Spring/workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Spring/workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Spring/workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Spring/workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Spring/workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Spring/workspace/.metadata/.plugins/org.eclipse.m2e.core/nexus/09ea46ddba587e74ca96c3aceb730eb1/segments.gen
Spring/workspace/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
Spring/workspace/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Spring/workspace/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Spring/workspace/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
Spring/workspace/.metadata/.plugins/org.eclipse.wst.validation/dep.index
