<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0"
  metadata-complete="true">

  <display-name>NewContext</display-name>
  <description>
      Wellcome NewContext
  </description>

  <servlet>
      <servlet-name>HelloServletName</servlet-name>
      <servlet-class>soo.sv.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>HelloServletName</servlet-name>
      <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>LifeServletName</servlet-name>
      <servlet-class>soo.sv.LifeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LifeServletName</servlet-name>
      <url-pattern>/life</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>AddrServletListName</servlet-name>
      <servlet-class>soo.sv.addr.AddrServletList</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>AddrServletListName</servlet-name>
      <url-pattern>/addr/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AddrServletInName</servlet-name>
      <servlet-class>soo.sv.addr.AddrServletIn</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>AddrServletInName</servlet-name>
      <url-pattern>/addr/insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AddrServletDelName</servlet-name>
      <servlet-class>soo.sv.addr.AddrServletDel</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>AddrServletDelName</servlet-name>
      <url-pattern>/addr/del.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>BoardServletListName</servlet-name>
      <servlet-class>soo.sv.board.BoardServletList</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>BoardServletListName</servlet-name>
      <url-pattern>/board/list.do</url-pattern>
  </servlet-mapping>

<servlet>
      <servlet-name>BoardServletContentName</servlet-name>
      <servlet-class>soo.sv.board.BoardServletContent</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>BoardServletContentName</servlet-name>
      <url-pattern>/board/content.do</url-pattern>
  </servlet-mapping>

<servlet>
      <servlet-name>BoardServletInName</servlet-name>
      <servlet-class>soo.sv.board.BoardServletIn</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>BoardServletInName</servlet-name>
      <url-pattern>/board/insert.do</url-pattern>
  </servlet-mapping>
  
<servlet>
      <servlet-name>BoardServletDelName</servlet-name>
      <servlet-class>soo.sv.board.BoardServletDel</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>BoardServletDelName</servlet-name>
      <url-pattern>/board/delete.do</url-pattern>
  </servlet-mapping>

<servlet>
      <servlet-name>BoardServletUpdateName</servlet-name>
      <servlet-class>soo.sv.board.BoardServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>BoardServletUpdateName</servlet-name>
      <url-pattern>/board/update.do</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>BoardServletGetUpdateName</servlet-name>
      <servlet-class>soo.sv.board.BoardServletGetUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>BoardServletGetUpdateName</servlet-name>
      <url-pattern>/board/getupdate.do</url-pattern>
  </servlet-mapping>


</web-app>
